.footer
  p(class="text-muted text-center")
    a(href="https://twitter.com/slypix")
      i(class="fa fa-twitter social")
    a(href="https://github.com/slypix")
      i(class="fa fa-github social")
    br
    | Made with #[i(class="fa fa-heart", style="color:red;")] in Canada - 
    a(rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
    img(alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png") 
    |  2016