html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Page Not Found
    style
      include 404.css
  body
    h1 Page Not Found
    p1 Sorry, but the page you were trying to view does not exist.

    // IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx